.topo{
    display: inline-block;
    width: 100%;
    height: 200px;
    background-color: #f5f5f5;
    /*background-image: url('https://i.pinimg.com/originals/5a/6f/74/5a6f74db531abe5c5128ed8391c933a3.jpg');*/
    background-size: 100%;
}

#bNav{
    margin-top:9px;
    z-index: 2;

}

#logoIndex{
    height: 100px;
    margin-top:35px;
}

#conteudoPageHome{
    width: 80%;
    background-color: gray;
}

#boxCartoes{
    margin-top: 50px !important;
    margin-bottom: 50px;
}

#footer{
    display: inline-block;
    width: 100%;
    height: 120px;
    background-color: #E71769;
}

#infoFooter{
    display: inline-block;
    width: 100%;
    height: 110px;
    background-color: #cf145e;
    margin-top:30px;
}

#infoFooter p{
    color: #fff;
    margin:25px;
}

#contato{
    display: inline-block;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #E71769;
}

#downloads{
    display: inline-block;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
}

#cardDownloads{
    margin: 35px;
}

#cardEdit{
    margin-top: 20px;
}
