.topo{
	display: inline-block;
	width: 100%;
	height: 180px;
	background-color: #d6d7d8 !important;
}

#bNav{
	margin-top:12px;
}

#logoIndex{	
	width: 170px;
	margin-top:30px;
}

#boxContentOption{
	margin-top:20px;
}

#cardEdit{
    background-color: #d6d7d8 !important;
}

#footer{
	display: inline-block;
	width: 100%;
	height: 120px;
	background-color: #343A40;
}

#infoFooter{
	display: inline-block;
	width: 100%;
	height: 110px;
	background-color: #484d53;
	margin-top:30px;
}

#infoFooter p{
	color: #fff;
	margin:25px;
}
#btnAdd{
	float: right;
	margin-bottom: 10px;
}
